* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: amatic-bold;
    src: url('fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: amatic-reg;
    src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgba(6,99,199,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(6,99,199,1)), color-stop(94%, rgba(30,30,30,1)), color-stop(100%, rgba(30,30,30,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
background: radial-gradient(ellipse at center, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);

}

#app {
    max-width: 565px;
    margin: auto;
    background-color: rgba(170,220,255,1) ;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 740px ;
    border: 15px solid rgba(170,220,255,1) ;
    border-radius: 15px;
}

#game_info {
    background-color: rgb(110, 170, 235);
    //border-top: 5px solid rgb(110, 170, 235) ;
    border-right: 5px solid rgba(170,220,255,1) ;
    //border-bottom: 5px solid rgb(110, 170, 235) ;
    border-left: 5px solid rgba(170,220,255,1) ;
    border-radius: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    background-color: rgba(180,230,255,1);
    width: 37px;
    height: 37px;
    border: 1px solid rgb(3, 33, 64); 
    //border: 1px solid rgba(150,200,240,1);
    border-radius: 6px;
}

.space {
    height: 36px;
    margin: 1px 0;
}

#next {
    background-color: rgb(110, 170, 235) ;
    margin: auto;
    width: 148px;
    height: 154px;
    border: 3px solid rgb(110, 170, 235) ;
    border-radius: 9px;
}

.label {
    color: rgba(180,230,255,1);
    text-align: center;
    text-transform: uppercase;
    font: 150% amatic-reg;
}

.value {
    color: rgb(3, 33, 64);
    text-align: center;
    font: 350% amatic-bold;
}

.active{
    border: 1px solid rgb(3, 33, 64); 
    background: rgba(6,99,199,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(6,99,199,1)), color-stop(94%, rgba(30,30,30,1)), color-stop(100%, rgba(30,30,30,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);
background: radial-gradient(ellipse at center, rgba(6,99,199,1) 0%, rgba(30,30,30,1) 94%, rgba(30,30,30,1) 100%);

}