* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(40,178,216,1) 39%, rgba(8,199,199,1) 76%, rgba(8,199,199,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(73,155,234,1)), color-stop(39%, rgba(40,178,216,1)), color-stop(76%, rgba(8,199,199,1)), color-stop(100%, rgba(8,199,199,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(40,178,216,1) 39%, rgba(8,199,199,1) 76%, rgba(8,199,199,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(40,178,216,1) 39%, rgba(8,199,199,1) 76%, rgba(8,199,199,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(40,178,216,1) 39%, rgba(8,199,199,1) 76%, rgba(8,199,199,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(40,178,216,1) 39%, rgba(8,199,199,1) 76%, rgba(8,199,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#08c7c7', GradientType=1 );
}

#app {
    max-width: 565px;
    margin: auto;
    background-color: rgb(38, 114, 138);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 740px ;
    border: 5px solid rgb(93, 93, 93);
    border-radius: 5px;
}

#game_info {
    background-color: rgb(5, 43, 54);
    /* border: 1px solid rgb(93, 93, 93); */
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 37px;
    height: 37px;
    border: 1px solid rgb(5, 138, 172);
}

.space {
    height: 36px;
    margin: 1px 0;
}

#next {
    margin: auto;
    width: 148px;
    height: 148px;
}

.label {
    color: rgb(128, 128, 128);
    text-align: center;
    text-transform: uppercase;
}

.value {
    color: rgb(0, 119, 255);
    text-align: center;
}

.active{
    background: rgba(0,28,110,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,28,110,1) 0%, rgba(13,46,121,1) 7%, rgba(117,189,209,1) 61%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,28,110,1)), color-stop(7%, rgba(13,46,121,1)), color-stop(61%, rgba(117,189,209,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,28,110,1) 0%, rgba(13,46,121,1) 7%, rgba(117,189,209,1) 61%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,28,110,1) 0%, rgba(13,46,121,1) 7%, rgba(117,189,209,1) 61%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,28,110,1) 0%, rgba(13,46,121,1) 7%, rgba(117,189,209,1) 61%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,28,110,1) 0%, rgba(13,46,121,1) 7%, rgba(117,189,209,1) 61%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c6e', endColorstr='#ffffff', GradientType=1 );
}